<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>img_01</string>
		<key>title</key>
		<string>小狗</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_02</string>
		<key>title</key>
		<string>愤怒的小鸟</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_03</string>
		<key>title</key>
		<string>炸弹💣</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_04</string>
		<key>title</key>
		<string>赛车</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_05</string>
		<key>title</key>
		<string>EA888 v6发动机 烧机油杠杠地</string>
	</dict>
</array>
</plist>
